<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Image Upload</h1>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" required>
        <input type="submit">
    </form>

    <h1>Image other</h1>

    <form action="/other" method="post" enctype="multipart/form-data">
        <input name="file1" type="file">
        <input name="file2" type="file">
        <input type="submit">
    </form>

</body>
</html>